* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.nav-list {
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.nav-list-item {
  display: inline-block;
  padding: 20px 15px;
  margin: 0 auto;
}

.box {
  width: 100%;
}

.box-align1 {
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.box-align2 {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.box-align3 {
  text-align: center;
  padding: 0 0 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.box-color1 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.box-color2 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #cdffd3;
}
.box-color3 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.box-color4 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.box-color5 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.box-color6 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.box-color7 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.box-color8 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.box-color9 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.box-color10 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.box-color11 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.box-color12 {
  list-style: none;
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
